<label style="font-size: 1.17em; display: block; margin-top: 100px; margin-bottom: 40px">위험하다고 생각되는 단어를 선택해주세요.</label>
<div class="wordMatchingPanel">
  <p ng-repeat="card in cards">
    <input class="wordCard" type="button" value="{{c.name}}" ng-repeat="c in card"
			ng-mouseover="setHoverColor(c)"
			ng-mouseleave="setLeaveColor(c)"
			ng-click="setColor(c)"
			style="background-color: {{c.color}}; color: {{c.fontColor}}">
  </p>
</div>

<button class="btn btn-lg subjectButton" style="font-size: 1.17em;" ng-click="nextPage()">위험 단어 선택 완료</button>
