<h1>This is survey form</h1>

<div ng-controller="SurveyFormCtrl">
	<div>
		<text>subject id </text>
		<input ng-model="subjectID" style="color: black;">
	</div>
	<div>
		<text>type </text>
		<select ng-model="type">
			<option value="A">A</option>
			<option value="B">B</option>
		</select>
	</div>
	<div>
		<text>gender </text>
		<select ng-model="gender">
			<option value="M">Male</option>
			<option value="F">Female</option>
		</select>
	</div>
	<div>
		<a href="#!/view1" style="color: white;" ng-click="passSubjectInfo()">Go to next page</a>
	</div>
</div>