<h1>This is survey form</h1>

<div ng-controller="SurveyFormCtrl">
	<div>
		<text>subject id </text>
		<input ng-model="subjectID" style="color: black;">
	</div>
	<div>
		<text>type </text>
		<select ng-model="type" style="color: black;">
			<option value="A" style="color: black;">A</option>
			<option value="B" style="color: black;">B</option>
		</select>
	</div>
	<div>
		<text>gender </text>
		<select ng-model="gender" style="color: black;">
			<option value="M" style="color: black;">Male</option>
			<option value="F" style="color: black;">Female</option>
		</select>
	</div>
	<div>
		<a href="#!/view1" style="color: white;" ng-click="passSubjectInfo()">Go to next page</a>
	</div>
</div>