<div ng-controller="View1Ctrl">
  <div class="basePane">
    <div class="inputForm">
      <input class="subject" placeholder="제목"
             tabindex="1" ng-model="title" readonly>
    </div>
	  <div
      style="border-bottom: 2px solid rgba(168, 168, 168, .3); margin-bottom: 2px; width: 96%;
margin-left: auto; margin-right: auto;">
    </div>
    <textarea class="mainEditor"
              style="overflow:hidden; font-size: {{getFontSize()}}px;"
              placeholder="당신의 트라우마를 마주하고 솔직하게 입력해보세요. 트라우마 마주하기를 위해 글을 쓰는 도중에는 수정이 불가합니다."
              rows="{{getRowCount()}}"
              tabindex="2"
              ng-model="content"
              ng-change="change()"
              ng-click="loadBasicContent()"></textarea>
  </div>

  <div class="flatPane" style="text-align: center; background-color: {{adviceBackgroundColor}}">
    <label ng-model="adviceContent" style="font-size: 1.17em; color: {{adviceColor}}; background-color: {{adviceBackgroundColor}}"
          ng-click="loadAdviceContent()">{{adviceContent}}</label>
  </div>

  <button class="btn btn-lg subjectButton" style="font-size: 1.17em;"
          tabindex="3" ng-click="submitSubjectInfo()">완료</button>
</div>

