<div class="basePane">
  <div class="inputForm">
    <input class="subject" placeholder="Text" tabindex="1">
  </div>
  <textarea class="mainEditor"
            style="overflow:hidden; font-size: {{getFontSize()}}px;"
            placeholder="Please write here"
            rows="{{getRowCount()}}"
            tabindex="2"
            ng-model="content"></textarea>
  <button class="btn btn-lg subjectButton" tabindex="3" ng-click="submitSubjectInfo()">Submit</button>
</div>

<div class="flatPane">
  <label>You're good enough!</label>
</div>